In [1]:
#Lets import all necessary libraries
import selenium
from selenium import webdriver    #Importing web driver module from selenium to open automated chrome window.
import pandas as pd               #importing pands to make dataframe
from selenium.webdriver.common.by import By     #importing inbuild class by
import warnings
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import ElementNotInteractableException
from PIL import Image
import requests
import re

warnings.filterwarnings("ignore")
import time

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

#Lets maximize web driver
driver.maximize_window()

In [3]:
#Opening the url

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
#Scrapping of Ranks
Ranks=[]
ranks=driver.find_elements(By.XPATH, "//td[1][@align='center']")
for i in ranks:
    try:
        
    
        Ranks.append(i.text.replace(".",""))
    except NoSuchElementException:
        
        Ranks.append("-")
        
len(Ranks)

30

In [10]:
#Scrapping of Ranks
Name=[]
name=driver.find_elements(By.XPATH, "//*[@id='mw-content-text']/div[1]/table[2]/tbody/tr[*]/td[2]")
for i in name:
    try:
        
    
        Name.append(i.text)
    except NoSuchElementException:
        
        Name.append("-")
        
Name

['"Baby Shark Dance"[4]',
 '"Despacito"[7]',
 '"Johny Johny Yes Papa"[14]',
 '"Shape of You"[15]',
 '"Bath Song"[17]',
 '"See You Again"[18]',
 '"Phonics Song with Two Words"[23]',
 '"Uptown Funk"[24]',
 '"Learning Colors – Colorful Eggs on a Farm"[25]',
 '"Wheels on the Bus"[26]',
 '"Gangnam Style"[27]',
 '"Masha and the Bear – Recipe for Disaster"[32]',
 '"Dame Tu Cosita"[33]',
 '"Sugar"[34]',
 '"Roar"[35]',
 '"Counting Stars"[36]',
 '"Axel F"[37]',
 '"Sorry"[38]',
 '"Thinking Out Loud"[39]',
 '"Baa Baa Black Sheep"[40]',
 '"Dark Horse"[41]',
 '"Faded"[42]',
 '"Girls Like You"[43]',
 '"Let Her Go"[44]',
 '"Waka Waka (This Time for Africa)"[45]',
 '"Perfect"[46]',
 '"Bailando"[47]',
 '"Lean On"[48]',
 '"Humpty the train on a fruits ride"[49]',
 '"Shake It Off"[50]']

In [11]:
#Scrapping of Artist
Artist=[]
art=driver.find_elements(By.XPATH, "//*[@id='mw-content-text']/div[1]/table[2]/tbody/tr[*]/td[3]")
for i in art:
    try:
        
    
        Artist.append(i.text)
    except NoSuchElementException:
        
        Artist.append("-")
        
Artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Wiz Khalifa',
 'ChuChu TV',
 'Mark Ronson',
 'Miroshka TV',
 'Cocomelon – Nursery Rhymes',
 'Psy',
 'Get Movies',
 'El Chombo',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Crazy Frog',
 'Justin Bieber',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Katy Perry',
 'Alan Walker',
 'Maroon 5',
 'Passenger',
 'Shakira',
 'Ed Sheeran',
 'Enrique Iglesias',
 'Major Lazer',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs',
 'Taylor Swift']

In [14]:
#Scrapping of Upload Date
Upload_date=[]
ud=driver.find_elements(By.XPATH, "//*[@id='mw-content-text']/div[1]/table[2]/tbody/tr[*]/td[5]")
for i in ud:
    try:
        
    
        Upload_date.append(i.text)
    except NoSuchElementException:
        
        Upload_date.append("-")
        
Upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'May 2, 2018',
 'April 6, 2015',
 'March 6, 2014',
 'November 19, 2014',
 'February 27, 2018',
 'May 24, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'June 16, 2009',
 'October 22, 2015',
 'October 7, 2014',
 'June 25, 2018',
 'February 20, 2014',
 'December 3, 2015',
 'May 31, 2018',
 'July 25, 2012',
 'June 4, 2010',
 'November 9, 2017',
 'April 11, 2014',
 'March 22, 2015',
 'January 26, 2018',
 'August 18, 2014']

In [13]:
#Scrapping of Views
Views=[]
v=driver.find_elements(By.XPATH, "//*[@id='mw-content-text']/div[1]/table[2]/tbody/tr[*]/td[4]")
for i in v:
    try:
        
    
        Views.append(i.text)
    except NoSuchElementException:
        
        Views.append("-")
        
Views

['11.83',
 '8.02',
 '6.54',
 '5.86',
 '5.81',
 '5.71',
 '5.04',
 '4.77',
 '4.74',
 '4.69',
 '4.62',
 '4.52',
 '4.15',
 '3.79',
 '3.69',
 '3.69',
 '3.63',
 '3.61',
 '3.52',
 '3.44',
 '3.40',
 '3.38',
 '3.35',
 '3.35',
 '3.34',
 '3.31',
 '3.30',
 '3.29',
 '3.24',
 '3.23']

In [15]:
#Making Dataframe

df=pd.DataFrame()
df["Rank"]=Ranks
df["Name"]=Name
df["Artist"]=Artist
df["Upload Date"]=Upload_date
df["Views in Billion"]=Views
df

,Rank,Name,Artist,Upload Date,Views in Billion
0,1,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.83
1,2,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.02
2,3,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.54
3,4,"""Shape of You""[15]",Ed Sheeran,"January 30, 2017",5.86
4,5,"""Bath Song""[17]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.81
5,6,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.71
6,7,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.04
7,8,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.77
8,9,"""Learning Colors – Colorful Eggs on a Farm""[25]",Miroshka TV,"February 27, 2018",4.74
9,10,"""Wheels on the Bus""[26]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.69
10,11,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.62
11,12,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.15
13,14,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.79
14,15,"""Roar""[35]",Katy Perry,"September 5, 2013",3.69
15,16,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.69
16,17,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.63
17,18,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.61
18,19,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.52
19,20,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.44
20,21,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.40
21,22,"""Faded""[42]",Alan Walker,"December 3, 2015",3.38
22,23,"""Girls Like You""[43]",Maroon 5,"May 31, 2018",3.35
23,24,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.35
24,25,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.34
25,26,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.31
26,27,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.30
27,28,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.29
28,29,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.24
29,30,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.23

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [76]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

#Lets maximize web driver
driver.maximize_window()

#Opening the url

driver.get("https://www.bcci.tv/")

In [96]:


Title=[]

title=driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")
for i in title[0:8]:
    
    try:
        
        Title.append(i.text.replace("-",""))
    except NoSuchElementException:
                
        Title.append("-")
        
len(Title)

8

In [95]:


Series=[]

series=driver.find_elements(By.XPATH,"//span[@class='ng-binding']")
for i in series[0:8]:
    
    try:
        
        Series.append(i.text)
    except NoSuchElementException:
                
        Series.append("-")
        
len(Series)

8

In [93]:

Place=[]

place=driver.find_elements(By.XPATH,"//span[@class='ng-binding']")
for i in place[0:8]:
    
    try:
        
        Place.append(i.text)
    except NoSuchElementException:
                
        Place.append("-")
        
len(Place)

8

In [94]:


Date=[]

date=driver.find_elements(By.XPATH,"//h5[@class='ng-binding']")
for i in date[0:8]:
    
    try:
        
        Date.append(i.text)
    except NoSuchElementException:
                
        Date.append("-")
        
len(Date)

8

In [89]:


Time=[]

time=driver.find_elements(By.XPATH,"//h5[@class='text-right ng-binding']")
for i in time:
    
    try:
        
        Time.append(i.text)
    except NoSuchElementException:
                
        Time.append("-")
        
len(Time)

8

In [97]:
df=pd.DataFrame()
df["Series"]=Series
df["Title"]=Title
df["Place"]=Place
df["Time"]=Time
df["Date"]=Date

df

,Series,Title,Place,Time,Date
0,INDIA A IN BANGLADESH MULTI DAY SERIES,FirstClass Match,INDIA A IN BANGLADESH MULTI DAY SERIES,7:00 PM IST,6 DEC 2022
1,Stumps Day 2,1st T20I,Stumps Day 2,11:30 AM IST,9 DEC 2022
2,AUSTRALIA WOMEN TOUR OF INDIA 2022,3rd ODI,AUSTRALIA WOMEN TOUR OF INDIA 2022,7:00 PM IST,10 DEC 2022
3,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,2nd T20I,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,9:30 AM IST,11 DEC 2022
4,AUSTRALIA WOMEN TOUR OF INDIA 2022,1st Test,AUSTRALIA WOMEN TOUR OF INDIA 2022,7:00 PM IST,14 DEC 2022
5,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,3rd T20I,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,7:00 PM IST,14 DEC 2022
6,AUSTRALIA WOMEN TOUR OF INDIA 2022,4th T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,7:00 PM IST,17 DEC 2022
7,AUSTRALIA WOMEN TOUR OF INDIA 2022,5th T20I,AUSTRALIA WOMEN TOUR OF INDIA 2022,9:30 AM IST,20 DEC 2022

# 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [16]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

#Lets maximize web driver
driver.maximize_window()

#Opening the url

driver.get("https://www.guru99.com/")

In [17]:


Selenium=driver.find_element(By.XPATH, "//input[@class='gsc-input']")
Selenium.send_keys("Selenium Exception handling")

In [18]:
#Search button
search_btn=driver.find_element(By.XPATH,"//button[@class='gsc-search-button gsc-search-button-v2']")
search_btn.click()

-Cant understand the problem statement. Which name & description you want?

In [37]:
#Scrapping of Name
Name=[]
n=driver.find_elements(By.XPATH, "/html/body/div/section/div/div/div[1]/div[1]/div/h3[*]")
for i in n:
    try:
        
    
        Name.append(i.text)
    except NoSuchElementException:
        
        Name.append("-")
        
Name

[]

# 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [119]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

#Lets maximize web driver
driver.maximize_window()

#Opening the url

driver.get("http://statisticstimes.com/")

In [120]:

Economy=driver.find_element(By.XPATH, "/html/body/div[2]/div[1]/div[2]/div[2]/button")

In [121]:
India=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")

In [135]:


Rank=[]

rank=driver.find_elements(By.XPATH,"//td[@class='data1']")
for i in rank[0:33]:
    
    try:
        
        Rank.append(i.text)
    except NoSuchElementException:
                
        Rank.append("-")
        
len(Rank)

33

In [134]:


State=[]

state=driver.find_elements(By.XPATH,"//td[@class='name']")
for i in state[0:33]:
    
    try:
        
        State.append(i.text)
    except NoSuchElementException:
                
        State.append("-")
        
len(State)

33

In [136]:
#GSDP(18-19)- at current prices

GSDP_18_19=[]

gsdp=driver.find_elements(By.XPATH,"//td[@class='data sorting_1']")
for i in gsdp[0:33]:
    
    try:
        
        GSDP_18_19.append(i.text)
    except NoSuchElementException:
                
        GSDP_18_19.append("-")
        
len(GSDP_18_19)

33

In [138]:
#GSDP(19_20)- at current prices

GSDP_19_20=[]

gsdp1=driver.find_elements(By.XPATH,"//td[3][@class='data']")
for i in gsdp1[0:33]:
        
    try:
        
        GSDP_19_20.append(i.text)
    except NoSuchElementException:
                
        GSDP_19_20.append("-")
        
len(GSDP_19_20)

33

In [139]:
share_18_19=[]
sh=driver.find_elements(By.XPATH,"//td[5][@class='data']")
for i in sh[0:33]:
    
    try:
        
        share_18_19.append(i.text)
    except NoSuchElementException:
                
        share_18_19.append("-")
        
len(share_18_19)

33

In [140]:
GDP=[]
gdp=driver.find_elements(By.XPATH,"//td[6][@class='data']")
for i in gdp[0:33]:
    
    try:
        
        GDP.append(i.text)
    except NoSuchElementException:
                
        GDP.append("-")
        
len(GDP)

33

In [145]:
#Making DataFrame
df=pd.DataFrame()
df["Rank"]=Rank
df["State"]=State
df["GSDP (18-19)- at current prices"]=GSDP_18_19
df["GSDP (19-20)- at current prices"]=GSDP_19_20
df["Share (18-19)"]=share_18_19
df["GDP($ Dollar)"]=GDP

In [146]:
df

,Rank,State,GSDP (18-19)- at current prices,GSDP (19-20)- at current prices,Share (18-19),GDP($ Dollar)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [39]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

#Lets maximize web driver
driver.maximize_window()

#Opening the url

driver.get("https://github.com/")

In [62]:
Title=[]
title=driver.find_elements(By.XPATH,"//span[@class='text-normal']")
for i in title[0:15]:
    
    try:
        
        Title.append(i.text)
    except NoSuchElementException:
                
        Title.append("-")
        
len(Title)

15

In [60]:


Descr=[]
de=driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']")
for i in de[0:15]:
    
    try:
        
        Descr.append(i.text)
    except NoSuchElementException:
                
        Descr.append("-")
        
len(Descr)

15

In [59]:


Count=[]
ct=driver.find_elements(By.XPATH,"//a[2][@class='Link--muted d-inline-block mr-3']")
for i in ct[0:15]:
    
    try:
        
        Count.append(i.text)
    except NoSuchElementException:
                
        Count.append("-")
        
len(Count)

15

In [61]:


Language=[]
ln=driver.find_elements(By.XPATH,"//span[@class='d-inline-block ml-0 mr-3']")
for i in ln[0:15]:
    
    try:
        
        Language.append(i.text)
    except NoSuchElementException:
                
        Language.append("-")
        
len(Language)

15

In [63]:
#Making Dataframe

df=pd.DataFrame()
df["Repository title"]=Title
df["Repository description"]=Descr
df["Contributors count"]=Count
df["Language"]=Language

df

,Repository title,Repository description,Contributors count,Language
0,fuergaosi233 /,Use ChatGPT On Wechat via wechaty,222,TypeScript
1,ggerganov /,Port of OpenAI's Whisper model in C/C++,225,C
2,remix-run /,Declarative routing for React,"9,671",TypeScript
3,AutumnWhj /,ChatGPT for wechat,51,TypeScript
4,paradigmxyz /,"Modular, contributor-friendly and blazing-fast...",35,Rust
5,869413421 /,为个人微信接入ChatGPT,66,Go
6,rawandahmad698 /,⚡️ Python client for the unofficial ChatGPT AP...,112,Python
7,surrealdb /,"A scalable, distributed, collaborative, docume...",376,Rust
8,gragland /,A ChatGPT Chrome extension. Integrates ChatGPT...,40,JavaScript
9,Tencent /,Hippy is designed to easily build cross-platfo...,857,C++
10,acheong08 /,Lightweight package for interacting with ChatG...,464,Python
11,izackwu /,TeachYourselfCS 的中文翻译 | A Chinese translation ...,"3,015",JavaScript
12,rmcelreath /,Statistical Rethinking Course for Jan-Mar 2023,9,JavaScript
13,ryanmcdermott /,🛁 Clean Code concepts adapted for JavaScript,"10,307",TypeScript
14,humanloop /,"Curated list of awesome tools, demos, docs for...",16,JavaScript

# 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [11]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

#Lets maximize web driver
driver.maximize_window()

#Opening the url

driver.get("https:/www.billboard.com/")

In [14]:
Hot_100=driver.find_element(By.XPATH,"//a[@class='c-link  lrv-a-unstyle-link lrv-u-background-color-brand-secondary-dark lrv-u-color-grey-lightest lrv-u-color-grey-lightest:hover lrv-u-width-100p lrv-u-text-align-center lrv-a-hover-effect lrv-u-background-color-grey-dark:hover a-font-accent-fancy lrv-u-font-size-20 u-padding-tb-15 u-letter-spacing-0112 lrv-a-icon-after a-icon-magazine lrv-u-justify-content-center lrv-u-align-items-center lrv-a-unstyle-link u-width-100p@tablet u-width-235@mobile-max lrv-u-margin-t-050@mobile-max u-background-color-white@mobile-max u-color-black@mobile-max lrv-u-border-a-1@mobile-max lrv-u-border-color-brand-accent-red u-line-height-1']")
Hot_100.click()

In [35]:
#Song Name
song=[]
sng=driver.find_elements(By.XPATH, "//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
sng1=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in sng:
    
    try:
        
        song.append(i.text)
    except NoSuchElementException:
                
        song.append("-")
        
for j in sng1:
    try:
        
        song.append(j.text)
    except NoSuchElementException:
                
        song.append("-")
        
len(song)

100

In [75]:
Artist=[]
art=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
art1=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")

for i in art:
          
    try:
        
        Artist.append(i.text)
    except NoSuchElementException:
                
        Artist.append("-")
            
for j in art1:
    
    try:
        Artist.append(j.text)
    except NoSuchElementException:
        Artist.append("-")
len(Artist)

100

In [66]:
Rank=[]
r=driver.find_elements(By.XPATH,"//li[4][@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max']")

for i in r:
    
    
          
    try:
        
        Rank.append(i.text)
    except NoSuchElementException:
                
        Rank.append("-")
        
len(Rank)

100

In [67]:
WOB=[]

w1=driver.find_elements(By.XPATH,"//li[6][@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max']")

for i in w1:
    
          
    try:
        
        
        WOB.append(i.text)
    except NoSuchElementException:
                
        WOB.append("-")
        
len(WOB)

100

In [65]:
peak_rank=[]
pr=driver.find_elements(By.XPATH,"//li[5][@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max']")

for i in pr:
    
          
    try:
        
        
        peak_rank.append(i.text)
    except NoSuchElementException:
                
        peak_rank.append("-")
        
len(peak_rank)

100

In [76]:
#Mamking DataFrame

df=pd.DataFrame()
df["Song name"]=song
df["Artist name"]=Artist
df["Last week rank"]=Rank
df["Peak rank"]=peak_rank
df["Weeks on board"]=WOB

In [77]:
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Anti-Hero,Taylor Swift,1,1,6
1,All I Want For Christmas Is You,Mariah Carey,5,1,54
2,Rockin' Around The Christmas Tree,Brenda Lee,6,2,48
3,Unholy,Sam Smith & Kim Petras,3,1,10
4,Jingle Bell Rock,Bobby Helms,9,3,45
...,...,...,...,...,...
95,Someday At Christmas,Lizzo,-,96,1
96,Vigilante Shit,Taylor Swift,73,10,6
97,Forget Me,Lewis Capaldi,-,95,6
98,"Going, Going, Gone",Luke Combs,98,98,3
99,Miss You,Oliver Tree & Robin Schulz,91,84,6

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [80]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

#Lets maximize web driver
driver.maximize_window()

#Opening the url

driver.get("https://www.naukri.com/")

In [81]:
DS=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
DS.send_keys("Data Science")

Search_btn= driver.find_element(By.XPATH,"//div[@class='qsbSubmit']")
Search_btn.click()

In [82]:
#Unable to find the recruiters in naukari.com hence scrapping remaining details

In [84]:
Designation=[]
d=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in d:      
    try:  
        Designation.append(i.text)
    except NoSuchElementException:
                
        Designation.append("-")
len(Designation)

20

In [85]:
Company=[]
c=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in c:      
    try:  
        Company.append(i.text)
    except NoSuchElementException:
                
        Company.append("-")
len(Company)

20

In [87]:
Skill=[]
s=driver.find_elements(By.XPATH,"//ul[@class='tags has-description']")
for i in s:      
    try:  
        Skill.append(i.text)
    except NoSuchElementException:
                
        Skill.append("-")
len(Skill)

20

In [88]:
Location=[]
l=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in l:      
    try:  
        Location.append(i.text)
    except NoSuchElementException:
                
        Location.append("-")
len(Location)

20

In [89]:
#Making DataFrame
df=pd.DataFrame()
df["Designation"]=Designation
df["Company"]=Company
df["Skill"]=Skill
df["Location"]=Location
df

,Designation,Company,Skill,Location
0,Analyst-Data Science,AMERICAN EXPRESS,Data analysis\ndata science\npower bi\nAdvance...,Gurgaon/Gurugram
1,Data Science- Data Scientist/Sr. Data Scientist,Jet2 Travel Technologies,Prototype\ndata science\nMySQL\nOracle\nBusine...,Pune
2,Data Analyst / Data Science,Infoweb,Java\nAdvanced Analytics\nPython Development\n...,Pune
3,Analyst-Data Science,AMERICAN EXPRESS,SAS\ndata science\nAnalytical\nMachine learnin...,Gurgaon/Gurugram
4,Data Science - Engineering Manager,Paytm,Computer science\nData analysis\nMachine learn...,"New Delhi, Bangalore/Bengaluru"
5,Data Scientist - Data Science,Bristlecone,Procurement\nSupply chain\nSAN\nAutomation\nIn...,Mumbai
6,Sr. Manager - Data Science,AMERICAN EXPRESS,Automation\nFinance\nArtificial Intelligence\n...,Gurgaon/Gurugram
7,Deputy National Lead - Payments - Data Science,BAJAJ FINSERVE,Automation\nTeam management\nMachine learning\...,Pune
8,Data Science Engineer,Geeky Bee AI Pvt Ltd,machine learning\nScikit-Learn\nData Science\n...,Pune(Wakad)
9,Manager / Senior Manager - Data Science,PYLON Management Consulting Private Limited,Data Science\nText analytics\nR\nNLP\nSAS\nNeu...,"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru"
10,Manager-Data Science,AMERICAN EXPRESS,Analytical skills\nCustomer management\nTechni...,Gurgaon/Gurugram
11,Lead Data Scientist - Data Sciences,GEP,Procurement\nComputer vision\nData analysis\nO...,Remote
12,"Assistant Manager - Data Science, Need Immedia...",Citiustech,Data Science\nNLP\nMachine Learning\nPython\nA...,"Hybrid - Pune, Gurgaon/Gurugram, Bangalore/Ben..."
13,Data Science Analyst,Ira Commerce,data science\nSenior Analyst\nAnalytical\nProg...,Hyderabad/Secunderabad
14,"Manager, Data Science 1",Paypal,Product management\nData analysis\ndata scienc...,Chennai
15,"Manager, Data Science 1",Xoom,Product management\nData analysis\ndata scienc...,Chennai
16,Analyst-Data Science,Accenture,Publishing\nAnalytical\nAnalytics\nSQL\nPython...,Bangalore/Bengaluru
17,Technology Analyst / Data Science / Machine Le...,Infosys,Data Science\nIT Skills\nPython\nTesting\nQual...,Bangalore/Bengaluru
18,Senior Analyst-Data Science,Accenture,Publishing\nArtificial Intelligence\nConsultin...,Mumbai
19,Data Science Lead - Forecasting,Cargill,Data Science\nData analysis\nMachine learning\...,Bangalore/Bengaluru

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [82]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

#Lets maximize web driver
driver.maximize_window()

#Opening the url

driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [83]:
Book=[]
book=driver.find_elements(By.XPATH,"//td[2][@class='left']")

for i in book:      
    try:  
        Book.append(i.text)
    except NoSuchElementException:
                
        Book.append("-")
len(Book)

100

In [84]:
Author=[]
au=driver.find_elements(By.XPATH,"//td[3][@class='left']")

for i in au:      
    try:  
        Author.append(i.text)
    except NoSuchElementException:
                
        Author.append("-")
len(Author)

100

In [85]:
VS=[]
vs=driver.find_elements(By.XPATH,"//td[4][@class='left']")

for i in vs:      
    try:  
        VS.append(i.text)
    except NoSuchElementException:
                
        VS.append("-")
len(VS)

100

In [86]:
Publisher=[]
ps=driver.find_elements(By.XPATH,"//td[5][@class='left']")

for i in ps:      
    try:  
        Publisher.append(i.text)
    except NoSuchElementException:
                
        Publisher.append("-")
len(Publisher)

100

In [88]:
Genre=[]
gn=driver.find_elements(By.XPATH,"//td[@class='last left']")

for i in gn:      
    try:  
        Genre.append(i.text)
    except NoSuchElementException:
                
        Genre.append("-")
len(Genre)

100

In [89]:
#Making DataFrame
df=pd.DataFrame()
df["Book Name"]=Book
df["Author Name"]=Author

df["Publisher"]=Publisher
df["Volume Sale"]=VS
df["Genre"]=Genre

In [90]:
df

,Book Name,Author Name,Publisher,Volume Sale,Genre
0,"Da Vinci Code,The","Brown, Dan",Transworld,"5,094,805","Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.",Bloomsbury,"4,475,152",Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",Bloomsbury,"4,200,654",Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",Bloomsbury,"4,179,479",Children's Fiction
4,Fifty Shades of Grey,"James, E. L.",Random House,"3,758,936",Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert",Random House,"807,311",General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie",Penguin,"794,201",Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",Scholastic Ltd.,"792,187",Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",Orion,"791,507",Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",Penguin,"791,095",Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [91]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

#Lets maximize web driver
driver.maximize_window()

#Opening the url

driver.get("https://www.imdb.com/list/ls095964455/")

In [129]:
Name=[]
name=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']")

for i in name:      
    try:  
        Name.append(i.text.strip())
    except NoSuchElementException:
                
        Name.append("-")
len(Name)

100

In [109]:
Year=[]
year=driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
for i in year:      
    try:  
        Year.append(i.text)
    except NoSuchElementException:
                
        Year.append("-")
        
len(Year)

100

In [110]:
Genre=[]

gn=driver.find_elements(By.XPATH,"//span[@class='genre']")
for i in gn:      
    try:  
        Genre.append(i.text)
    except NoSuchElementException:
                
        Genre.append("-")
        
len(Genre)

100

In [112]:
Runtime=[]
rn=driver.find_elements(By.XPATH,"//span[@class='runtime']")
for i in rn:      
    try:  
        Runtime.append(i.text)
    except NoSuchElementException:
                
        Runtime.append("-")
        
len(Runtime)

100

In [114]:
Rating=[]
rt=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']")
for i in rt:      
    try:  
        Rating.append(i.text)
    except NoSuchElementException:
                
        Rating.append("-")
        
len(Rating)

100

In [119]:
Votes=[]
vt=driver.find_elements(By.XPATH,"//span[@name='nv']")
for i in vt:      
    try:  
        Votes.append(i.text)
    except NoSuchElementException:
                
        Votes.append("-")
        
len(Votes)

100

In [130]:
#MAking DataFrame
df=pd.DataFrame()
df["Name"]=Name
df["Year span"]=Year
df["Genre"]=Genre
df["Run time"]=Runtime
df["Ratings"]=Rating
df["Votes"]=Votes

In [131]:
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,090,484"
1,2. Stranger Things (2016– ),(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,180,030"
2,3. The Walking Dead (2010–2022),(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"989,188"
3,4. 13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"292,916"
4,5. The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"252,054"
...,...,...,...,...,...,...
95,96. Reign (2013–2017),(2013–2017),Drama,42 min,7.4,"50,192"
96,97. A Series of Unfortunate Events (2017–2019),(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"61,479"
97,98. Criminal Minds (2005– ),(2005– ),"Crime, Drama, Mystery",42 min,8.1,"198,403"
98,99. Scream: The TV Series (2015–2019),(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,584"
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"245,306"

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [64]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

#Lets maximize web driver
driver.maximize_window()

#Opening the url

driver.get("https://archive.ics.uci.edu/")

In [65]:

sd=driver.find_element(By.XPATH,"//span[@class='whitetext']")
sd.click()

In [67]:
Name=[]
n=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[*]/td[1]/table/tbody/tr/td[2]/p/b/a")
for i in n:
    
    try:  
        Name.append(i.text)
    except NoSuchElementException:
                
        Name.append("-")
        
len(Name)

622

In [69]:
Data_Type=[]
d=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[*]/td[2]/p")
for i in d[0:622]:
    
    try:  
        Data_Type.append(i.text)
    except NoSuchElementException:
                
        Data_Type.append("-")
        
len(Data_Type)

622

In [70]:
Task=[]
t=driver.find_elements(By.XPATH,"//td[3]/p[@class='normal']")
for i in t[0:622]:
    
    try:  
        Task.append(i.text)
    except NoSuchElementException:
                
        Task.append("-")
        
len(Task)

622

In [71]:
#Attribute Type
AT=[]
at=driver.find_elements(By.XPATH,"//td[4]/p[@class='normal']")
for i in at:
    
    try:  
        AT.append(i.text)
    except NoSuchElementException:
                
        AT.append("-")
        
len(AT)

622

In [72]:
#No. of instances
NI=[]
ni=driver.find_elements(By.XPATH,"//td[5]/p[@class='normal']")
for i in ni:
    
    try:  
        NI.append(i.text)
    except NoSuchElementException:
                
        NI.append("-")
        
len(NI)

622

In [73]:
#Number of Attributes
NA=[]
na=driver.find_elements(By.XPATH,"//td[6]/p[@class='normal']")
for i in na:
    
    try:  
        NA.append(i.text)
    except NoSuchElementException:
                
        NA.append("-")
        
len(NA)

622

In [74]:
year=[]
y=driver.find_elements(By.XPATH,"//td[7]/p[@class='normal']")
for i in y:
    
    try:  
        year.append(i.text)
    except NoSuchElementException:
                
        year.append("-")
        
len(year)

622

In [75]:
#Making Dataframe

df=pd.DataFrame()
df["Dataset Name"]=Name
df["Data Type"]=Data_Type
df["Task"]=Task
df["Attribute Type"]=AT
df["No. of Instances"]=NI
df["No. of Attribute"]=NA
df["Year"]=year

In [76]:
df

,Dataset Name,Data Type,Task,Attribute Type,No. of Instances,No. of Attribute,Year
0,Abalone,Data Types,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Multivariate,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,Multivariate,Classification,,1014,7,2020
620,Room Occupancy Estimation,,Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,"Multivariate, Time-Series",Regression,Real,4000,2,2021