# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [1]:
#Lets import all necessary libraries
import selenium
from selenium import webdriver    #Importing web driver module from selenium to open automated chrome window.
import pandas as pd               #importing pands to make dataframe
from selenium.webdriver.common.by import By     #importing inbuild class by
import warnings
warnings.filterwarnings("ignore")
import time

In [11]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [12]:
#Lets maximize web driver
driver.maximize_window()

In [13]:
#Opening the url

url= "https://www.naukri.com/"
driver.get(url)

In [14]:
#Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

job_search=driver.find_element(By.CLASS_NAME, "suggestor-input")
job_search.send_keys("Data Analyst")

location=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [15]:
#Click on Search button
search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [24]:
#Scrape the data for the first 10 jobs results you get.
job_titles=[]     #Creation of emplty list
job_search=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
for i in job_search[0:10]:
    job_titles.append(i.text)
len(job_titles)

10

In [25]:
job_titles

['Senior Data Analyst - PLM Data Migration',
 'Lead Data Analyst',
 'Master Data Management Business Analyst',
 'Contractual Hiring For Top MNC || Business Data Analyst || Bangalore',
 'Sr. Data Analyst (SAS Data Management)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst 2',
 'Senior Data Analyst',
 'Sr Data Analyst']

In [22]:
#Scrape first 10 company name
company=[]
company_name=driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")
for i in company_name[0:10]:
    company.append(i.text)
len(company)

10

In [23]:
company

['CGI',
 'Mobile Premier League (MPL)',
 'Accenture',
 'TeamLease',
 'NMS Consultant',
 'IBM',
 'IBM',
 'Zynga',
 'Groundtruth',
 'Mettox Laboratries']

In [26]:
#Scrape experince details
experience=[]
exp_tags=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']")
for i in exp_tags[0:10]:
    experience.append(i.text)
len(experience)

10

In [27]:
experience

['3-6 Yrs',
 '4-7 Yrs',
 '6-8 Yrs',
 '5-8 Yrs',
 '5-10 Yrs',
 '3-4 Yrs',
 '3-4 Yrs',
 '4-7 Yrs',
 '5-8 Yrs',
 '3-8 Yrs']

In [29]:
#Scrapping of locations
location=[]
loc_tags=driver.find_elements(By.XPATH, "//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in loc_tags[0:10]:
    location.append(i.text)
len(location)

10

In [30]:
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, New Delhi',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram',
 'Bangalore/Bengaluru']

In [32]:
#Making DataFrame
df=pd.DataFrame()
df["Job Title"]= job_titles
df["Location"]=location
df["Company Name"]=company
df["Experience"]=experience

df

,Job Title,Location,Company Name,Experience
0,Senior Data Analyst - PLM Data Migration,Bangalore/Bengaluru,CGI,3-6 Yrs
1,Lead Data Analyst,Bangalore/Bengaluru,Mobile Premier League (MPL),4-7 Yrs
2,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
3,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
4,Sr. Data Analyst (SAS Data Management),"Bangalore/Bengaluru, New Delhi",NMS Consultant,5-10 Yrs
5,Data Analyst,Bangalore/Bengaluru,IBM,3-4 Yrs
6,Data Analyst,Bangalore/Bengaluru,IBM,3-4 Yrs
7,Data Analyst 2,Bangalore/Bengaluru,Zynga,4-7 Yrs
8,Senior Data Analyst,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram",Groundtruth,5-8 Yrs
9,Sr Data Analyst,Bangalore/Bengaluru,Mettox Laboratries,3-8 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [7]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [18]:
#Opening the url

url= "https://www.naukri.com/"
driver.get(url)

In [19]:
driver.maximize_window()

In [20]:
#Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
job_search= driver.find_element(By.CLASS_NAME, "suggestor-input" )
job_search.send_keys("Data Scientist")

location=driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [21]:
#Search job
search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [23]:
#Scrapping of Data for first 10 job results
job_title=[]
job_tags=driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
for i in job_tags[0:10]:
    job_title.append(i.text)
len(job_title)

10

In [24]:
job_title

['Analystics & Modeling Specialist',
 'Senior Data Scientist',
 'Data Scientist - Looking For Immediate Joiners',
 'Assistant Manager - Data Science',
 'Data Scientist',
 'Data Scientist - 2',
 'Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - II',
 'Lead ML Scientist']

In [25]:
#Scrapping of Company name
company=[]
comp_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in comp_tags[0:10]:
    company.append(i.text)
len(company)

10

In [26]:
company

['Accenture',
 'Wipro',
 'Wipro',
 'Citiustech',
 'Altair',
 '24 7 ai',
 'HCLTech',
 'Boston Consulting Group',
 'Bizongo',
 'Fractal Analytics']

In [27]:
#Scrapping details of experience
experience=[]
exp_tags=driver.find_elements(By.XPATH, "//span[@class='ellipsis fleft fs12 lh16 expwdth']")
for i in exp_tags[0:10]:
    experience.append(i.text)
len(experience)

10

In [28]:
experience

['6-8 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '5-9 Yrs',
 '2-7 Yrs',
 '1-3 Yrs',
 '4-9 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '6-10 Yrs']

In [31]:
#Scrapping of location details
location=[]
loc_tags=driver.find_elements(By.XPATH, "//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in loc_tags[0:10]:
    location.append(i.text)
len(location)

10

In [32]:
location

['Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Pune, Chennai',
 'Hybrid - Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Hybrid - Bangalore/Bengaluru, Mumbai, Pune',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Chennai',
 'Bangalore/Bengaluru, Mumbai, New Delhi, Chennai',
 'Bangalore/Bengaluru, India, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Mumbai']

In [33]:
#Making Data frame
jobs=pd.DataFrame()
jobs["Job Title"]=job_title
jobs["Location"]=location
jobs["Company"]=company
jobs["Experience"]=experience

jobs

,Job Title,Location,Company,Experience
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
1,Senior Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Chennai",Wipro,6-11 Yrs
2,Data Scientist - Looking For Immediate Joiners,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Wipro,5-10 Yrs
3,Assistant Manager - Data Science,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune",Citiustech,5-9 Yrs
4,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Altair,2-7 Yrs
5,Data Scientist - 2,Bangalore/Bengaluru,24 7 ai,1-3 Yrs
6,Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",HCLTech,4-9 Yrs
7,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group,5-10 Yrs
8,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo,3-6 Yrs
9,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics,6-10 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [34]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [35]:
driver.maximize_window()

In [36]:
#Opening the url

url= "https://www.naukri.com/"
driver.get(url)

In [37]:
#Enter “Data Scientist” in “Skill, Designations, and Companies” field.
job_search=driver.find_element(By.CLASS_NAME,"suggestor-input ")
job_search.send_keys("Data Scientist")

In [38]:
#Click on search button
search_btn=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [59]:
#Then apply the location filter : "Delhi/NCR" and salary filter "3-6” lakhs"

loc=driver.find_element(By.XPATH,"//*[@id='root']/div[4]/div/section[1]/div[2]/div[1]/div[2]/div[4]/label/i")
loc.click()

In [60]:
#Filter on salary "3-6 lakhs"
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[3]/div[2]/div[2]/label/i")
salary.click()

In [ ]:
#Search Job
search_btn= driver.find_element(By.XPATH,)

In [62]:
#Scrapping of job titles
job_titles=[]
job_search=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in job_search[0:10]:
    job_titles.append(i.text)
len(job_titles)

10

In [63]:
job_titles

['Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Urgent hiring For Data Scientist (PHD Must Have)',
 'Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Specialist',
 'Data scientist- Python',
 'Data Scientist']

In [65]:
#Scrapping of company names
company=[]
comp_tags=driver.find_elements(By.XPATH, "//a[@class='subTitle ellipsis fleft']")
for i in comp_tags[0:10]:
    company.append(i.text)
len(company)

10

In [66]:
company

['HCLTech',
 'Boston Consulting Group',
 'NGI Ventures',
 'Black Turtle',
 'torcai digital media',
 'Meon Technologies',
 'Alliance Recruitment Agency',
 'RCPC',
 'TeamPlus Staffing Solution Pvt Ltd',
 'Razor Group GmbH']

In [67]:
#Job Location
location=[]
loc=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 locWdth']" )
for i in loc[0:10]:
    location.append(i.text)
len(location)

10

In [68]:
location

['Noida, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru',
 'Temp. WFH - Noida, Pune',
 'Delhi / NCR, Bangalore/Bengaluru',
 'Dehradun, Hyderabad/Secunderabad, Gurgaon/Gurugram',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon/Gurugram',
 'New Delhi']

In [69]:
#Experience
experience=[]
exp=driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft fs12 lh16 expwdth']")
for i in exp[0:10]:
    experience.append(i.text)
len(experience)

10

In [70]:
experience

['4-9 Yrs',
 '2-5 Yrs',
 '0-4 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '3-4 Yrs',
 '4-6 Yrs',
 '3-6 Yrs',
 '2-3 Yrs']

In [71]:
#Making Data Frame
jobs=pd.DataFrame()
jobs["Job Titles"]=job_titles
jobs["Company"]=company
jobs["Location"]=location
jobs["Experience"]=experience
jobs

,Job Titles,Company,Location,Experience
0,Data Scientist,HCLTech,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",4-9 Yrs
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru",2-5 Yrs
2,Urgent hiring For Data Scientist (PHD Must Have),NGI Ventures,"Temp. WFH - Noida, Pune",0-4 Yrs
3,Manager - Data Science - Banking&Financial Ser...,Black Turtle,"Delhi / NCR, Bangalore/Bengaluru",4-8 Yrs
4,Data Scientist,torcai digital media,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",2-7 Yrs
5,Data Scientist,Meon Technologies,Noida,2-5 Yrs
6,Data Scientist,Alliance Recruitment Agency,Noida,3-4 Yrs
7,Data Specialist,RCPC,Noida,4-6 Yrs
8,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,Gurgaon/Gurugram,3-6 Yrs
9,Data Scientist,Razor Group GmbH,New Delhi,2-3 Yrs

In [72]:
driver.close()

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses

In [73]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [75]:
driver.maximize_window()

In [77]:
#Scrapping of url
url="https://www.flipkart.com/"
driver.get(url)

In [78]:
#Scrapping of Sungalsses data
sunglasses= driver.find_element(By.CLASS_NAME,"_3704LK")
sunglasses.send_keys("Sunglasses")

In [83]:
#Search button
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [112]:
# Scraooing first 100 brand name of sunglasses
brand=[]
start=1
end=4
for page in range(start,end):
    brand_titles=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brand_titles[0:100]:
        brand.append(i.text)
next_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
next_btn.click()
time.sleep(2)
len(brand[0:100])

100

In [116]:
brand[0:100]

['RESIST EYEWEAR',
 'Silver Kartz',
 'Fastrack',
 'PIRASO',
 'New Specs',
 'SUNBEE',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'VINCENT CHASE',
 'SUNBEE',
 'PROVOGUE',
 'PIRASO',
 'PIRASO',
 'CRYSTAL CART',
 'GANSTA',
 'ROYAL SON',
 'ROYAL SON',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Sewell',
 'GANSTA',
 'DEIXELS',
 'ROYAL SON',
 'AISLIN',
 'Elligator',
 'VINCENT CHASE',
 'ROYAL SON',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'Urbanic',
 'ROYAL SON',
 'AISLIN',
 'NuVew',
 'Elligator',
 'RESIST EYEWEAR',
 'Silver Kartz',
 'Fastrack',
 'PIRASO',
 'New Specs',
 'SUNBEE',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'VINCENT CHASE',
 'SUNBEE',
 'PROVOGUE',
 'PIRASO',
 'PIRASO',
 'CRYSTAL CART',
 'GANSTA',
 'ROYAL SON',
 'ROYAL SON',
 'Elligator',
 'PIRASO',
 'ROYAL SON',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Sewell',
 'GANSTA',
 'DEIXELS',
 'ROYAL SON',
 'AISLIN',
 'Elligator',
 'VINCENT CHASE',
 'ROYAL SON',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'Urbanic',
 'ROYAL SON',
 'AISLIN',
 'NuVew',
 'Elligator',
 'RESIST EYEWEAR',
 'Silver Kartz',
 'Fastrack',
 'PIRASO',
 'New Specs',
 'SUNBEE',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'VINCENT CHASE',
 'SUNBEE',
 'PROVOGUE',
 'PIRASO',
 'PIRASO',
 'CRYSTAL CART',
 'GANSTA',
 'ROYAL SON',
 'ROYAL SON',
 'Elligator',
 'PIRASO']

In [120]:
# Scraooing first 100 brand Description of sunglasses
Product_Descr=[]
start=1
end=4
for page in range(start,end):
    brand_descr=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in brand_descr[0:100]:
        Product_Descr.append(i.text)
next_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
next_btn.click()
time.sleep(2)
len(Product_Descr[0:100])

100

In [121]:
Product_Descr[0:100]

['UV Protection Clubmaster Sunglasses (53)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (59)',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (64)',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (54)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Wayfarer, Rectangular Sunglasses (58)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection, Gradient Butterfly Sunglasses (52)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Wayfarer, Rectangular Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (53)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (64)',
 'Polarized, UV Protection Retro Square Sunglasses (61)',
 'UV Protection Rectangular Sunglasses (55)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (59)',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (64)',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (54)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Wayfarer, Rectangular Sunglasses (58)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection, Gradient Butterfly Sunglasses (52)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Wayfarer, Rectangular Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (53)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (64)',
 'Polarized, UV Protection Retro Square Sunglasses (61)',
 'UV Protection Rectangular Sunglasses (55)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (53)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (59)',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (64)',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (54)']

In [122]:
# Scraping first 100 brand price of sunglasses
price=[]
start=1
end=4
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in price_tags[0:100]:
        price.append(i.text)
next_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
next_btn.click()
time.sleep(2)
len(price[0:100])

100

In [123]:
price[0:100]

['₹616',
 '₹569',
 '₹649',
 '₹199',
 '₹254',
 '₹283',
 '₹649',
 '₹474',
 '₹519',
 '₹649',
 '₹699',
 '₹664',
 '₹251',
 '₹296',
 '₹251',
 '₹219',
 '₹664',
 '₹664',
 '₹251',
 '₹318',
 '₹664',
 '₹664',
 '₹474',
 '₹265',
 '₹236',
 '₹176',
 '₹675',
 '₹664',
 '₹323',
 '₹579',
 '₹474',
 '₹664',
 '₹939',
 '₹220',
 '₹949',
 '₹579',
 '₹675',
 '₹759',
 '₹189',
 '₹439',
 '₹616',
 '₹569',
 '₹649',
 '₹199',
 '₹254',
 '₹283',
 '₹649',
 '₹474',
 '₹519',
 '₹649',
 '₹699',
 '₹664',
 '₹251',
 '₹296',
 '₹251',
 '₹219',
 '₹664',
 '₹664',
 '₹251',
 '₹318',
 '₹664',
 '₹664',
 '₹474',
 '₹265',
 '₹236',
 '₹176',
 '₹675',
 '₹664',
 '₹323',
 '₹579',
 '₹474',
 '₹664',
 '₹939',
 '₹220',
 '₹949',
 '₹579',
 '₹675',
 '₹759',
 '₹189',
 '₹439',
 '₹616',
 '₹569',
 '₹649',
 '₹199',
 '₹254',
 '₹283',
 '₹649',
 '₹474',
 '₹519',
 '₹649',
 '₹699',
 '₹664',
 '₹251',
 '₹296',
 '₹251',
 '₹219',
 '₹664',
 '₹664',
 '₹251',
 '₹318']

In [124]:
# Scraping first 100 brand discount of sunglasses
discount=[]
start=1
end=4
for page in range(start,end):
    discount_tags=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    for i in discount_tags[0:100]:
        discount.append(i.text)
next_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
next_btn.click()
time.sleep(2)
len(discount[0:100])

100

In [125]:
discount[0:100]

['75% off',
 '80% off',
 '35% off',
 '87% off',
 '90% off',
 '78% off',
 '27% off',
 '72% off',
 '35% off',
 '67% off',
 '66% off',
 '64% off',
 '84% off',
 '85% off',
 '84% off',
 '63% off',
 '66% off',
 '66% off',
 '84% off',
 '87% off',
 '71% off',
 '74% off',
 '76% off',
 '82% off',
 '60% off',
 '82% off',
 '62% off',
 '68% off',
 '87% off',
 '35% off',
 '66% off',
 '62% off',
 '27% off',
 '87% off',
 '62% off',
 '27% off',
 '78% off',
 '55% off',
 '85% off',
 '59% off',
 '75% off',
 '80% off',
 '35% off',
 '87% off',
 '90% off',
 '78% off',
 '27% off',
 '72% off',
 '35% off',
 '67% off',
 '66% off',
 '64% off',
 '84% off',
 '85% off',
 '84% off',
 '63% off',
 '66% off',
 '66% off',
 '84% off',
 '87% off',
 '71% off',
 '74% off',
 '76% off',
 '82% off',
 '60% off',
 '82% off',
 '62% off',
 '68% off',
 '87% off',
 '35% off',
 '66% off',
 '62% off',
 '27% off',
 '87% off',
 '62% off',
 '27% off',
 '78% off',
 '55% off',
 '85% off',
 '59% off',
 '75% off',
 '80% off',
 '35% off',
 '87% off',
 '90% off',
 '78% off',
 '27% off',
 '72% off',
 '35% off',
 '67% off',
 '66% off',
 '64% off',
 '84% off',
 '85% off',
 '84% off',
 '63% off',
 '66% off',
 '66% off',
 '84% off',
 '87% off']

In [126]:
#Making Dataframe
sunglasses=pd.DataFrame()
sunglasses["Brand"]=brand[0:100]
sunglasses["Product Description"]=Product_Descr[0:100]
sunglasses["Price"]=price[0:100]
sunglasses["Discount"]=discount[0:100]

sunglasses

,Brand,Product Description,Price,Discount
0,RESIST EYEWEAR,UV Protection Clubmaster Sunglasses (53),₹616,75% off
1,Silver Kartz,UV Protection Aviator Sunglasses (62),₹569,80% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹649,35% off
3,PIRASO,UV Protection Rectangular Sunglasses (52),₹199,87% off
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹254,90% off
...,...,...,...,...
95,GANSTA,"Mirrored, Night Vision Oval Sunglasses (Free S...",₹219,63% off
96,ROYAL SON,UV Protection Rectangular Sunglasses (64),₹664,66% off
97,ROYAL SON,UV Protection Retro Square Sunglasses (60),₹664,66% off
98,Elligator,UV Protection Wayfarer Sunglasses (55),₹251,84% off
99,PIRASO,UV Protection Round Sunglasses (54),₹318,87% off

In [127]:
driver.close()

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/
p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [155]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [156]:
driver.maximize_window()

In [157]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace-"
driver.get(url)

In [158]:
#Scrapping data of iphone 11
phone=driver.find_element(By.CLASS_NAME, "_3704LK")
phone.send_keys("iphone 11")

In [159]:
#Click onsearch button
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [160]:
#Scrapping details of iphone 11 as it is not openend in link given:

iphone=driver.find_element(By.XPATH,"//*[@id='container']/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]")
iphone.click()

In [197]:
#Scrapping details of iphone ratings
ratings=[]
start=0
end=15
for page in range(start,end):
    ratings_tag=driver.find_elements(By.XPATH, "//div[@class='_3LWZlK _1BLPMq']")
    for i in ratings_tag[0:100]:
        ratings.append(i.text)
#next_btn=driver.find_element(By.XPATH,"//*[@id='\container']/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")
#next_btn.click()
#time.sleep(2)
len(ratings[0:100])

100

In [203]:
#Review Summary

review_summary=[]
start=0
end=15
for page in range(start,end):
    review_tag=driver.find_elements(By.XPATH, "//p[@class='_2-N8zT']")
    for i in review_tag[0:100]:
        review_summary.append(i.text)
len(review_summary[0:100])

100

In [207]:
#Full Review 
full_review=[]
start=0
end=15
for page in range(start,end):
    full_review1=driver.find_elements(By.XPATH, "//div[@class='t-ZTKy']")
    for i in full_review1:
        full_review.append(i.text)
len(full_review[0:100])

100

In [211]:
#Making DataFrame
Iphone11=pd.DataFrame()
Iphone11["Ratings"]=ratings[0:100]
Iphone11["Review Summary"]=review_summary[0:100]
Iphone11["Full Review"]=full_review[0:100]

Iphone11

,Ratings,Review Summary,Full Review
0,5,Perfect product!,After using 3 years mobile review. Excellent &...
1,5,Terrific,I am using the phone for last 5 years and foun...
2,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
3,5,Great product,Awesome product ❤️❤️\nThank you Flipkart
4,5,Simply awesome,Really satisfied with the Product I received.....
...,...,...,...
95,5,Perfect product!,Nice products thanks flkat
96,4,Perfect product!,After using 3 years mobile review. Excellent &...
97,5,Terrific,I am using the phone for last 5 years and foun...
98,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
99,5,Great product,Awesome product ❤️❤️\nThank you Flipkart

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [212]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [213]:
driver.maximize_window()

In [214]:
#Scrapping of url
url="https://www.flipkart.com/"
driver.get(url)

In [215]:
#Scrapping of Brand
brand=driver.find_element(By.CLASS_NAME,"_3704LK")
brand.send_keys("sneakers")

In [216]:
#Search button
search_btn=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [224]:
#Scrapping of all brand data
brand=[]
start=0
end=3
for page in range(start,end):
    brand_title=driver.find_elements(By.XPATH, "//div[@class='_2WkVRV']")
    for i in brand_title:
        brand.append(i.text)
len(brand[0:100])

100

In [225]:
#Scrapping of Product desciption
Product_description=[]
start=0
end=3
for page in range(start,end):
    prod_descr=driver.find_elements(By.XPATH, "//a[@class='IRpwTa']")
    for i in prod_descr:
        Product_description.append(i.text)
len(Product_description[0:100])

100

In [226]:
#Scrapping of Price
price=[]
start=0
end=3
for page in range(start,end):
    price_details=driver.find_elements(By.XPATH, "//div[@class='_30jeq3']")
    for i in price_details:
        price.append(i.text)
len(price[0:100])

100

In [227]:
#Scrapping of discount
discount=[]
start=0
end=3
for page in range(start,end):
    discount_details=driver.find_elements(By.XPATH, "//div[@class='_3Ay6Sb']")
    for i in discount_details:
        discount.append(i.text)
len(discount[0:100])

100

In [228]:
#Making DataFrame
Sneakers=pd.DataFrame()
Sneakers["Brand"]=brand[0:100]
Sneakers["Product Description"]=Product_description[0:100]
Sneakers["Price"]=price[0:100]
Sneakers["Discount"]=discount[0:100]

Sneakers

,Brand,Product Description,Price,Discount
0,BIRDE,Premium Casual Shoes White Sneakers For Men,₹449,70% off
1,BIRDE,Premium Casual Shoes White Sneakers For Men,₹449,70% off
2,RED TAPE,Sneakers For Men,₹999,80% off
3,RapidBox,Sneakers For Men,₹630,36% off
4,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,₹499,75% off
...,...,...,...,...
95,BRUTON,OCTAVIA Sneakers For Men,₹311,76% off
96,K- FOOTLANCE,Men's Very Stylish Canvas Sneakers Chain Boot ...,₹497,50% off
97,U.S. POLO ASSN.,Modern Trendy Sneakers Shoes Sneakers For Men,"₹2,379",30% off
98,aadi,Sneaker Sneakers For Men,₹249,87% off
99,Deals4you,"Stylish Comfortable Lightweight, Breathable Ca...",₹359,64% off

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, 
price of the shoe as shown in the below image.

In [229]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [230]:
driver.maximize_window()

In [231]:
#Getting url
url="https://www.myntra.com/shoes"
driver.get(url)

In [234]:
#Filtering color
color=driver.find_element(By.XPATH,"/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
color.click()

In [235]:
#Filtering price
price=driver.find_element(By.XPATH,"/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price.click()

In [238]:
#Scrapping details of Brand
brand=[]
start=0
end=2
for page in range(start,end):
    brand_title=driver.find_elements(By.XPATH, "//h3[@class='product-brand']")
    for i in brand_title:
        brand.append(i.text)
len(brand)

100

In [240]:
#Scrapping Short Shoe Description

Shoe_descr=[]
start=0
end=2
for page in range(start,end):
    shoe_description=driver.find_elements(By.XPATH, "//h4[@class='product-product']")
    for i in shoe_description:
        Shoe_descr.append(i.text)
len(Shoe_descr)

100

In [245]:
#Price of Shoe

Shoe_price=[]
start=0
end=2
for page in range(start,end):
    shoe_price=driver.find_elements(By.XPATH, "//div[@class='product-price']")
    for i in shoe_price:
        Shoe_price.append(i.text)
len(Shoe_price)

100

In [246]:
#Making DataFrame

Shoes=pd.DataFrame()
Shoes["Brand"]=brand
Shoes["Shoes Description"]=Shoe_descr
Shoes["Shoes Price"]=Shoe_price

Shoes

,Brand,Shoes Description,Shoes Price
0,Nike,JORDAN MAX AURA 4 Shoes,Rs. 10165Rs. 11295(10% OFF)
1,Puma,Eternity Nitro Running Shoes,Rs. 11049Rs. 12999(15% OFF)
2,ADIDAS,Men Ultraboost 5.0 DNA Running,Rs. 13599Rs. 16999(20% OFF)
3,Nike,Men Kyrie Flytrap Basketball,Rs. 7645Rs. 8495(10% OFF)
4,Nike,Men AIR MAX DAWN Sneakers,Rs. 9715Rs. 10795(10% OFF)
...,...,...,...
95,Saint G,Women Leather Boots,Rs. 9810Rs. 10900(10% OFF)
96,MANGO,Women Solid Mid-Top Boots,Rs. 7990
97,ADIDAS Originals,Men Solid NMD_R1 V3 Sneakers,Rs. 12799Rs. 15999(20% OFF)
98,Puma,Fusion Evo Extra Wide Golf Shoes,Rs. 7649Rs. 8999(15% OFF)
99,Calvin Klein,Men Solid Sneakers,Rs. 8999

In [247]:
driver.close()

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [54]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [55]:
driver.maximize_window()

In [56]:
#Scrapping url details
url="https://www.amazon.in/"
driver.get(url)

In [57]:
#Scrpping details of laptop
laptop=driver.find_element(By.XPATH,"//input[@class='nav-input nav-progressive-attribute']")
laptop.send_keys("Laptop")

In [58]:
#Click on search button
search_btn=driver.find_element(By.XPATH,"//div[@class='nav-search-submit nav-sprite']")
search_btn.click()

In [59]:
#set CPU Type filter to “Intel Core i7”
CPU=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[11]/span/a/span")
CPU.click()

In [60]:
# Scrapping of top 10 laptop details: Title, rating & price
title=[]
title_details= driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_details[0:10]:
    title.append(i.text)
len(title)

10

In [65]:
#Scrapping details of ratings
Ratings=[]
rating_details= driver.find_elements(By.XPATH,"//a[@class='a-popover-trigger a-declarative']")
for i in rating_details[0:10]:
    Ratings.append(i.text)
len(Ratings)

10

In [63]:
#Scrapping the Price
price=[]
price_details= driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_details[0:10]:
    price.append(i.text)
price

['77,990',
 '83,990',
 '25,895',
 '80,990',
 '93,999',
 '97,990',
 '81,490',
 '84,407',
 '86,490',
 '1,09,990']

In [66]:
#Making DataFrame
laptop=pd.DataFrame()
laptop["Title"]=title
laptop["Ratings"]=Ratings
laptop["Price"]=price

laptop

                                               Title Ratings     Price
0  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....            77,990
1  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...            83,990
2  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...            25,895
3  HP Pavilion x360 11th Gen Intel Core i7 14 inc...            80,990
4  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...            93,999
5  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...            97,990
6  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...            81,490
7  Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDD...            84,407
8  Lenovo ThinkBook 15 Intel 12th Gen Core i7 15....            86,490
9  ASUS TUF Gaming F17 (2022), 17.3"(43.94 cms) F...          1,09,990

In [333]:
driver.close()

# Q9: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1.First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quote

In [2]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.maximize_window()

In [4]:
#Scrapping of url data
url= "https://www.azquotes.com/"
driver.get(url)

In [7]:
#Scrapping the top Quotes
top_quotes=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quotes.click()

In [9]:
#Scrapping of Quotes
quotes=[]
start=0
end=10
for page in range(start,end):
    quote=driver.find_elements(By.XPATH,"//a[@class='title']")
    for i in quote[0:1000]:
        quotes.append(i.text)
len(quotes)

1000

In [10]:
#Scrapping of Author
author=[]
start=0
end=10
for page in range(start,end):
    auth=driver.find_elements(By.XPATH,"//div[@class='author']")
    for i in auth[0:1000]:
        author.append(i.text)
len(author)

1000

In [11]:
#Scrapping type of Quotes
toq=[]
start=0
end=10
for page in range(start,end):
    tq=driver.find_elements(By.XPATH,"//div[@class='tags']")
    for i in tq[0:1000]:
        toq.append(i.text)
len(toq)

1000

In [12]:
#Making DataFrame
Top_Quotes=pd.DataFrame()
Top_Quotes["Quotes"]=quotes
Top_Quotes["Author"]=author
Top_Quotes["Type of Quotes"]=toq

Top_Quotes

,Quotes,Author,Type of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
998,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [13]:
driver.close()

# Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.
This task will be done in following steps:
1. First get the webpage https://www.jagranjosh.com/
2. Then You have to click on the GK option
3. Then click on the List of all Prime Ministers of India
4. Then scrap the mentioned data and make the DataFrame

In [2]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.maximize_window()

In [4]:
#Scrapping data from url
url=" https://www.jagranjosh.com/"
driver.get(url)

In [5]:
#Scrapping data from GK
GK=driver.find_element(By.XPATH, "/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
GK.click()

In [ ]:
#Scrapping data from PM lsi
PM=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
PM.click()

In [26]:
#Scrapping the names of all PM's
PM=[]

name=driver.find_elements(By.XPATH,"strong")
for i in name:
    PM.append(i.text)
len(PM)

0

In [27]:
PM

[]

# Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model name and Price) from https://www.motor1.com/
This task will be done in following steps:
1. First get the webpage https://www.motor1.com/
2. Then You have to click on the List option from Dropdown menu on left side.
3. Then click on 50 most expensive cars in the world..
4. Then scrap the mentioned data and make the

In [28]:
#Lets first connect web driver
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\chromedriver_win32\chromedriver.exe")

In [29]:
driver.maximize_window()

In [30]:
#Scrapping data from url
url="https://www.motor1.com/"
driver.get(url)

In [32]:
#Click on list button
list1=driver.find_element(By.XPATH,"/html/body/div[3]/div[1]/div[3]/ul/li[4]/a")
list1.click()

In [34]:
#50 most expensive cars in the world.
Expansive_cars=driver.find_element(By.XPATH,"/html/body/div[2]/div[9]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a")
Expansive_cars.click()

In [47]:
#Company name, Model name and Price
name=[]

names=driver.find_elements(By.XPATH,"//h3[@class='subheader']")
for i in names[0:50]:
    name.append(i.text)
name

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [52]:
#price
price=[]
price1=driver.find_elements(By.XPATH, "//*[strong]")
for i in price1[0:50]:
    price.append(i.text)
len(price)

50

In [48]:
#Making the Data Frame
cars=pd.DataFrame()
cars["Name"]=name
cars["Price"]=price
cars

,Name,Price
0,Drako GTE,Price: $1.2 Million
1,De Tomaso P72,Price: $1.3 Million
2,Ferrari LaFerrari,Price: $1.4 Million
3,Pagani Huayra,Price: $1.4 Million
4,McLaren Elva,Inarguably one of the prettiest cars on this l...
5,Czinger 21C,Price: $1.7 Million
6,Ferrari Monza,Price: $1.7 Million
7,Gordon Murray T.33,Price: $1.7 Million
8,Koenigsegg Gemera,Price: $1.7 Million
9,Zenvo TSR-S,Price: $1.7 Million
10,Hennessey Venom F5,Price: $1.7 Million
11,Bentley Bacalar,Price: $1.8 Million
12,Hispano Suiza Carmen Boulogne,Price: $1.9 Million
13,Bentley Mulliner Batur,Price: $1.9 Million
14,Deus Vayanne,Price: $2.0 Million
15,SSC Tuatara,Price: $2.0 Million
16,Lotus Evija,Price: $2.0 Million*
17,Aston Martin Vulcan,Price: $2.1 Million
18,Delage D12,Price: $2.3 Million
19,McLaren Speedtail,Price: $2.3 Million
20,Rimac Nevera,Price: $2.3 Million
21,Pagani Utopia,Price: $2.4 Million
22,Pininfarina Battista,Price: $2.5 Million
23,Ferrari FXX K Evo,Price: $2.5 Million
24,Gordon Murray T.50,Price: $2.6 Million
25,Lamborghini Countach,Price: $2.6 Million
26,Mercedes-AMG Project One,Price: $2.6 Million
27,Aston Martin Victor,Price: $2.7 Million
28,Hennessey Venom F5 Roadster,Price: $3.0 Million
29,Koenigsegg Jesko,$3.0 Million
30,Aston Martin Valkyrie,Price: $3.0 Million
31,W Motors Lykan Hypersport,Price: $3.2 Million
32,McLaren Solus,Price: $3.4 Million
33,Pagani Huayra Roadster BC,$3.5 Million
34,Bugatti Chiron Pur Sport,Price: $3.5 Million
35,Lamborghini Sian,Price: $3.6 Million
36,Koenigsegg CC850,Price: $3.6 million
37,Bugatti Chiron Super Sport 300+,Price: $3.7 Million
38,Lamborghini Veneno,Price: $3.9 Million
39,Bugatti Bolide,Price: $4.5 Million
40,Bugatti Mistral,Price: $4.7 Million
41,Pagani Huayra Imola,Price: $5.0 Million
42,Bugatti Divo,Price: $5.4 Million
43,SP Automotive Chaos,Price: $5.8 Million
44,Pagani Codalunga,Price: $6.4 Million
45,Mercedes-Maybach Exelero,Price: $7.4 Million
46,Bugatti Centodieci,Price: $8.0 Million
47,Rolls-Royce Sweptail,Price: $9.0 Million
48,Bugatti La Voiture Noire,Price: $12.8 Million
49,Rolls-Royce Boat Tail*,Price: $13.4 Million

In [53]:
driver.close()